@{
    ViewData["Title"] = "e-SkyAirways";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        e-SkyAirlines is the next-gen Virtual Airlines for Flight Simulators.<br />
        <strong>
            Currently we are in developpement, we are only running on X-Plane 11.50+ and supporting the
            Flight Factor A320.

        </strong>
    </p>
</div>
